{% extends 'base.html' %}
{% block content %}

<main class="container">
    
        <video src="../static/video/git.mp4" autoplay muted loop></video>
        <div class="main-section">
          
        <div class="big-form" data-aos="fade-up" data-aos-duration="1000"
        data-aos-easing="ease-in-out">
            <h1 class="white project-title ">View Your <span class="gray">github</span> stats and<br> Projects with ease..</h1>
        <div class="d-flex form-frame"  data-aos="fade-right" data-aos-duration="1000"
        data-aos-easing="ease-in-out">
            <div class="instruction">
            <h2 class="greetings">Welcome to github stats!</h2>
        
                <p>Discover the power of your GitHub profile with our personalized statistics and insights. Whether you're a seasoned developer or just starting your coding journey, our platform provides you with a unique overview of your GitHub activity.</p>
            </div>
            <div class="form" data-aos="fade-left" data-aos-duration="1000"
            data-aos-easing="ease-in-out">
        
                <p> Simply enter your GitHub username below, and let us unveil fascinating details about your repositories, contributions, and more</p>
                <form action="/githubinfo" method="post">
                    <div>
                        <label>username</label>
                        <input type="text" name="username" placeholder="githubusername" required>
                    </div>
        
            <div>
                <button type="submit">
                    View Stats
                </button>
            </div>
        
            </div>
        </form>
        </div>
        </div>
        <div>
        </div>
            </main>
            <section class="bg_white container">
            </section>
            
                <section class="about_us container" >
                    <h2 class="center pd_top_bottom about_title" id="about_us">About Us</h2>
                    
                    <div class="d-flex space-between about_us--container">
                        <div class="col" data-aos="fade-right" data-aos-duration="1000"
                        data-aos-easing="ease-in-out">
                    
                            <div class="user_image center"><img src="../static/images/passport.jpg" alt="">
                            </div>
                            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio similique tenetur dolorum porro sequi provident id consectetur sapiente pariatur ipsam, beatae eos quo ipsum. Provident ad iure voluptatibus omnis voluptatem perferendis excepturi, expedita cumque nam voluptas dolor totam possimus nobis nostrum, molestiae eveniet voluptatum, quisquam assumenda autem ullam harum accusantium aperiam id dolore. Sint reprehenderit incidunt consequatur, sequi ratione, voluptas non sunt atque ipsa tempora nihil a ducimus deserunt amet maiores, tempore hic beatae odio reiciendis esse at voluptatibus dicta enim. Ut fugiat, tempore provident temporibus delectus tenetur consequuntur quisquam dolorem reiciendis sit laudantium beatae placeat.
                                Laudantium neque sapiente aliquam.
                            </p>
                            <div class="link__up d-flex">
                                <i class="fa-brands fa-facebook"></i>
                                <i class="fa-brands fa-twitter"></i>
                                <a href="https://github.com/dimka90"> <i class="fa-brands fa-github">
                                   
                                </i> </a>
                                <a href="https://wa.me/23408080764320"><i class="fa-brands fa-whatsapp"></i></a>
                            </div>
                        </div>
                        <div class="col " data-aos="fade-left">
                            <div class="user_image d-flex" >
                                <img src="../static/images/Basty.png" alt="">
                            </div>
                            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio similique tenetur dolorum porro sequi provident id consectetur sapiente pariatur ipsam, beatae eos quo ipsum. Provident ad iure voluptatibus omnis voluptatem perferendis excepturi, expedita cumque nam voluptas dolor totam possimus nobis nostrum, molestiae eveniet voluptatum, quisquam assumenda autem ullam harum accusantium aperiam id dolore. Sint reprehenderit incidunt consequatur, sequi ratione, voluptas non sunt atque ipsa tempora nihil a ducimus deserunt amet maiores, tempore hic beatae odio reiciendis esse at voluptatibus dicta enim. Ut fugiat, tempore provident temporibus delectus tenetur consequuntur quisquam dolorem reiciendis sit laudantium beatae placeat.
                                Laudantium neque sapiente aliquam.
                            </p>
                            <div class="link__up d-flex" id ="contact_us">
                            <i class="fa-brands fa-facebook"></i>
                            <i class="fa-brands fa-twitter"></i>
                            <a href="https://github.com/dimka90"> <i class="fa-brands fa-github">
                               
                            </i> </a>
                            <a href="https://wa.me/23408080764320"><i class="fa-brands fa-whatsapp"></i></a>
                        </div>
                        </div>
                    </div>
                </section>
   
            <section class="footer container">
               <h2 class="our_logo">
                GitHub Stats
               </h2>
            </section>
        {% endblock %}
