{% extends 'base.html' %}
{% block content %}
<main class="container">
<video src="../static/video/git.mp4" autoplay muted loop></video>
<div class="project-card">
<table class="styled-table">
    <thead>
        <tr>
            <th>s/n</th>
        <th>Project Name</th>
        <th>Project Url</th> 
        </tr>
    </thead>
    {% for project in projects %}
    <tr class="active-row">

        <td>{{ loop.index }}</td>
        <td> {{ project['name'] }} </td>
        <td><a href ="{{ project['html_url'] }}"> {{ project['html_url'] }} </a> </td>
    </tr>
{% endfor %}
</table>
<button "><a href ="{{ url_for("index") }} ">Home</a> </button>
</div>
 {% endblock %}
